<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XToxica</title>
    <link rel="stylesheet" href="../static/styles/common.css">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/footer.css">

</head>
<body>
    <header>
        <section class="header">
            <style>

            </style>
            <div class="logo">
                <img id="menu-icon" onclick="toggleMenu()" src="../static/images/menu-icon.svg" alt="">
                <div id="menu-container" class="menu-container">
                    <div id="menu-nav" class="menu-nav">
                        <h3>Menu</h3>
                        <ul class="menu-links">
                            <li><a href="http://192.168.100.70:5003/about">About Us</a></li>
                            <li><a href="http://192.168.100.70:5003/contact">Contact Us</a></li>
                            <li><a href="http://192.168.100.70:5003/help">How it works</a></li>
                        </ul>
                      </div>
                </div>
                <a href="http://192.168.100.70:5003/">
                    <img id="logo" src="../static/images/logo.jpeg" alt="Logo">
                    <h2>XToxica</h2>
                </a>
            </div>
            <!-- <div>
                Spacer
            </div> -->
            <div class="links">
                <ul class="quick-links">
                    <li><a href="http://192.168.100.70:5003/about">About Us</a></li>
                    <li><a href="http://192.168.100.70:5003/contact">Contact Us</a></li>
                    <li><a href="http://192.168.100.70:5003/help">How it works</a></li>
                </ul>
            </div>
            <div class="account">
                <div class="sign-in">
                    <button id="sign-in">Get Started</button>
                </div>
            </div>
        </section>
    </header>

    <main>

        <section class="intro">
            <div class="heading">
                <h1>About Us</h1>
            </div>
            <div class="sub-heading">
                <p>
                    Welcome to XToxica, where we are dedicated to fostering a safer and more positive digital environment. Our mission is to empower users by providing advanced tools to identify and filter toxic comments in real-time.
                </p>
                <h2 class="heading">Our Story</h2>
                <p>
                    XToxica was born out of a vision to combat online toxicity and create a space where individuals can express themselves without fear of harassment or harmful content. Our journey began with a commitment to leveraging cutting-edge machine learning technologies to build a robust comment filtering system.
                </p>
                <h2 class="heading">What Drives Us</h2>
                <p>
                    At XToxica, we believe in the power of technology to make the online world a better place. Our team is passionate about harnessing the capabilities of artificial intelligence to tackle the challenges of toxic behavior and contribute to a more positive and inclusive internet.
                </p>
                <h2 class="heading">Our Approach</h2>
                <p>
                    We prioritize precision and accuracy in toxicity detection, constantly refining our models to stay ahead of evolving online language trends. Transparency, user feedback, and continuous improvement are at the core of our approach.
                </p>
                <h2 class="heading">Connect With Us</h2>
                <p>
                    We value the input and experiences of our users. If you have questions, feedback, or just want to say hello, feel free to reach out. Your insights help us shape the future of XToxica.
                </p>
                <br>
                <h4>Thank you for being part of our community!</h4>

                <ul>
                    <li><a href="https://github.com/jack-njenga/" target="_blank">Github</a></li>
                </ul>
            </div>
        </section>

    </main>

    <footer>
        <section class="footer">
            <div class="more-info">
                <div class="more-links">
                    <ul>
                        <li><a href="http://192.168.100.70:5003/about">About Us</a></li>
                        <li><a href="http://192.168.100.70:5003/contact">Contact Us</a></li>
                        <li><a href="http://192.168.100.70:5003/help">How it works</a></li>
                    </ul>
                </div>
                <div class="about">
                    <p>
                        XToxica is committed to creating a positive online experience. Our advanced toxicity detection model works tirelessly to filter harmful comments. Your safety is our priority.
                    </p>
                </div>
            </div>
            <div class="terms">
                <a href="#">&copy; XToxica 2024, Nairobi</a>
            </div>

        </section>
    </footer>

<script src="../static/scripts/header.js"></script>
</body>
</html>