<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XToxica</title>
    <link rel="stylesheet" href="../static/styles/common.css">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/footer.css">

</head>
<body>
    <header>
        <section class="header">
            <style>

            </style>
            <div class="logo">
                <img id="menu-icon" onclick="toggleMenu()" src="../static/images/menu-icon.svg" alt="">
                <div id="menu-container" class="menu-container">
                    <div id="menu-nav" class="menu-nav">
                        <h3>Menu</h3>
                        <ul class="menu-links">
                            <li><a href="http://192.168.100.70:5003/about">About Us</a></li>
                            <li><a href="http://192.168.100.70:5003/contact">Contact Us</a></li>
                            <li><a href="http://192.168.100.70:5003/help">How it works</a></li>
                        </ul>
                      </div>
                </div>
                <a href="http://192.168.100.70:5003/">
                    <img id="logo" src="../static/images/logo.jpeg" alt="Logo">
                    <h2>XToxica</h2>
                </a>
            </div>
            <!-- <div>
                Spacer
            </div> -->
            <div class="links">
                <ul class="quick-links">
                    <li><a href="http://192.168.100.70:5003/about">About Us</a></li>
                    <li><a href="http://192.168.100.70:5003/contact">Contact Us</a></li>
                    <li><a href="http://192.168.100.70:5003/help">How it works</a></li>
                </ul>
            </div>
            <div class="account">
                <div class="sign-in">
                    <button id="sign-in">Get Started</button>
                </div>
            </div>
        </section>
    </header>

    <main>

        <section class="intro">
            <div class="heading">
                <h1>Contact Us</h1>
            </div>
            <div class="sub-heading">
                <h4>
                    Reach us on:
                </h4>
                <ul>
                    <li><a href="https://github.com/jack-njenga/" target="_blank">Github</a></li>
                </ul>
            </div>
        </section>

    </main>

    <footer>
        <section class="footer">
            <div class="more-info">
                <div class="more-links">
                    <ul>
                        <li><a href="http://192.168.100.70:5003/about">About Us</a></li>
                        <li><a href="http://192.168.100.70:5003/contact">Contact Us</a></li>
                        <li><a href="http://192.168.100.70:5003/help">How it works</a></li>
                    </ul>
                </div>
                <div class="about">
                    <p>
                        XToxica is committed to creating a positive online experience. Our advanced toxicity detection model works tirelessly to filter harmful comments. Your safety is our priority.
                    </p>
                </div>
            </div>
            <div class="terms">
                <a href="#">&copy; XToxica 2024, Nairobi</a>
            </div>

        </section>
    </footer>

<script src="../static/scripts/header.js"></script>
</body>
</html>