<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XToxica</title>
    <link rel="stylesheet" href="../static/styles/common.css">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/footer.css">

</head>
<body>
    <header>
        <section class="header">
            <style>

            </style>
            <div class="logo">
                <img id="menu-icon" onclick="toggleMenu()" src="../static/images/menu-icon.svg" alt="">
                <div id="menu-container" class="menu-container">
                    <div id="menu-nav" class="menu-nav">
                        <h3>Menu</h3>
                        <ul class="menu-links">
                            <li><a href="http://192.168.100.70:5003/about">About Us</a></li>
                            <li><a href="http://192.168.100.70:5003/contact">Contact Us</a></li>
                            <li><a href="http://192.168.100.70:5003/help">How it works</a></li>
                        </ul>
                      </div>
                </div>
                <a href="http://192.168.100.70:5003/">
                    <img id="logo" src="../static/images/logo.jpeg" alt="Logo">
                    <h2>XToxica</h2>
                </a>
            </div>
            <!-- <div>
                Spacer
            </div> -->
            <div class="links">
                <ul class="quick-links">
                    <li><a href="http://192.168.100.70:5003/about">About Us</a></li>
                    <li><a href="http://192.168.100.70:5003/contact">Contact Us</a></li>
                    <li><a href="http://192.168.100.70:5003/help">How it works</a></li>
                </ul>
            </div>
            <div class="account">
                <div class="sign-in">
                    <button id="sign-in">Get Started</button>
                </div>
            </div>
        </section>
    </header>

    <main>

        <section class="intro">
            <div class="heading">
                <h1>How It Works</h1>
            </div>
            <div class="sub-heading">
                <h4>
                    <h2 class="heading">Data Collection and Training</h2>
                    <p>
                        XToxica leverages a powerful machine learning model built on the TensorFlow framework. Our model has been trained on extensive datasets containing a diverse range of comments to understand the nuances of toxic language. This training process enables the model to recognize patterns and identify potential toxic content.
                    </p>
                    <h2 class="heading">Real-Time Comment Analysis</h2>
                    <p>
                        When a user submits a comment through our interface, the XToxica system swings into action. The submitted text undergoes real-time analysis using our trained machine learning model. The model evaluates various linguistic features to assess the level of toxicity in the comment.
                    </p>
                    <h2 class="heading">Precision and Recall</h2>
                    <p>
                        Our system focuses on achieving a balance between precision and recall. This means we aim to accurately identify toxic comments while minimizing the risk of false positives or negatives. The result is a nuanced and effective comment filtering mechanism that adapts to the dynamic nature of online language.
                    </p>
                    <h2 class="heading">User Feedback Loop</h2>
                    <p>
                        We value user feedback immensely. If a user feels that a comment has been misclassified or wishes to report a false positive or negative, our feedback loop allows us to continually refine and improve the accuracy of our model.
                    </p>
                    <h2 class="heading"> Privacy and Security</h2>
                    <p>
                        XToxica is committed to protecting user privacy. The comments submitted for analysis are processed on our servers, and we do not store or share any user-specific data. Our commitment to security ensures that your interactions with our platform are confidential and secure.
                        <br>
                        By combining cutting-edge technology with a user-centric approach, XToxica strives to be a trusted solution for promoting a positive
                    </p>
                    <br>
                    <h4>Thank you for trusting us to help create a safer digital space.</h4>
                </h4>
            </div>
        </section>

    </main>

    <footer>
        <section class="footer">
            <div class="more-info">
                <div class="more-links">
                    <ul>
                        <li><a href="http://192.168.100.70:5003/about">About Us</a></li>
                        <li><a href="http://192.168.100.70:5003/contact">Contact Us</a></li>
                        <li><a href="http://192.168.100.70:5003/help">How it works</a></li>
                    </ul>
                </div>
                <div class="about">
                    <p>
                        XToxica is committed to creating a positive online experience. Our advanced toxicity detection model works tirelessly to filter harmful comments. Your safety is our priority.
                    </p>
                </div>
            </div>
            <div class="terms">
                <a href="#">&copy; XToxica 2024, Nairobi</a>
            </div>

        </section>
    </footer>

<script src="../static/scripts/header.js"></script>
</body>
</html>